Act11/Connected Services/WSCS/WSCS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cveEstado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cveMunicipio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cveLocalidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Modificacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cveEstado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cveMunicipio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cveLocalidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Encriptar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncriptarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncriptarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Desencriptar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DesencriptarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DesencriptarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsersionSoapIn">
    <wsdl:part name="parameters" element="tns:Insersion" />
  </wsdl:message>
  <wsdl:message name="InsersionSoapOut">
    <wsdl:part name="parameters" element="tns:InsersionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificacionSoapIn">
    <wsdl:part name="parameters" element="tns:Modificacion" />
  </wsdl:message>
  <wsdl:message name="ModificacionSoapOut">
    <wsdl:part name="parameters" element="tns:ModificacionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminacionSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminacion" />
  </wsdl:message>
  <wsdl:message name="EliminacionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminacionResponse" />
  </wsdl:message>
  <wsdl:message name="EncriptarSoapIn">
    <wsdl:part name="parameters" element="tns:Encriptar" />
  </wsdl:message>
  <wsdl:message name="EncriptarSoapOut">
    <wsdl:part name="parameters" element="tns:EncriptarResponse" />
  </wsdl:message>
  <wsdl:message name="DesencriptarSoapIn">
    <wsdl:part name="parameters" element="tns:Desencriptar" />
  </wsdl:message>
  <wsdl:message name="DesencriptarSoapOut">
    <wsdl:part name="parameters" element="tns:DesencriptarResponse" />
  </wsdl:message>
  <wsdl:portType name="WSCSSoap">
    <wsdl:operation name="Insersion">
      <wsdl:input message="tns:InsersionSoapIn" />
      <wsdl:output message="tns:InsersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Modificacion">
      <wsdl:input message="tns:ModificacionSoapIn" />
      <wsdl:output message="tns:ModificacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminacion">
      <wsdl:input message="tns:EliminacionSoapIn" />
      <wsdl:output message="tns:EliminacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Encriptar">
      <wsdl:input message="tns:EncriptarSoapIn" />
      <wsdl:output message="tns:EncriptarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Desencriptar">
      <wsdl:input message="tns:DesencriptarSoapIn" />
      <wsdl:output message="tns:DesencriptarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCSSoap" type="tns:WSCSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insersion">
      <soap:operation soapAction="http://tempuri.org/Insersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificacion">
      <soap:operation soapAction="http://tempuri.org/Modificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminacion">
      <soap:operation soapAction="http://tempuri.org/Eliminacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encriptar">
      <soap:operation soapAction="http://tempuri.org/Encriptar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Desencriptar">
      <soap:operation soapAction="http://tempuri.org/Desencriptar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCSSoap12" type="tns:WSCSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insersion">
      <soap12:operation soapAction="http://tempuri.org/Insersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificacion">
      <soap12:operation soapAction="http://tempuri.org/Modificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminacion">
      <soap12:operation soapAction="http://tempuri.org/Eliminacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encriptar">
      <soap12:operation soapAction="http://tempuri.org/Encriptar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Desencriptar">
      <soap12:operation soapAction="http://tempuri.org/Desencriptar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCS">
    <wsdl:port name="WSCSSoap" binding="tns:WSCSSoap">
      <soap:address location="http://localhost/WSCSUPDATE/WSCSCRUD/WSCS.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCSSoap12" binding="tns:WSCSSoap12">
      <soap12:address location="http://localhost/WSCSUPDATE/WSCSCRUD/WSCS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>